<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <exclude>
                <file>./src/UnitTest.php</file>
                <file>./src/OnceRunMigration.php</file>
                <file>./src/OnceRunMigrationUnitTest.php</file>
                <file>./src/OnceMigrationUnitTest.php</file>
                <file>./src/BaseWebTest.php</file>
                <file>./src/MaxRedirectException.php</file>
                <file>./src/OnceMigrationWebTest.php</file>
                <file>./src/InitMigrationAppTrait.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing" />
    </php>
</phpunit>
