<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <file>tests/BaseControllerTestTest.php</file>
            <file>tests/RealApplicationUnitTest.php</file>
            <!--<file>tests/RunRealApplicationWithOneRunMigrationTest.php</file>-->
            <file>tests/HelpersTest.php</file>
            <file>tests/BootTraitsTest.php</file>
            <file>tests/MigrationTraitTest.php</file>
            <file>tests/TestBaseWebTest.php</file>
            <file>tests/TestUnitTest.php</file>
            <file>tests/OnceMigrationUnitTest.php</file>
            <file>tests/OnceMigrationWebTest.php</file>
            <file>tests/FullCoverageTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing" />
    </php>
</phpunit>
